body {
  margin:0;
  padding-top: 120px;
  background-color: #f8f8f8;
}

header {
  background-color: #322549;
  display: flex;
  height: 80px;
  position: fixed;
  top:0;
  right: 0;
  left: 0;
}
.top-location-container {
  display: flex;
}
.categories-container {
  display: flex;
}
.categories-container ul {
list-style: none;
}
.categories-container ul li a {
text-decoration: none;
 }
 .jumbo-tron {
  background-image: url(./jumbo_tron.jpg) no-repeat center bottom #bfc2d1;
  background-size: 200px 200px;
  background-position: center bottom; 
 }

 .Announcements {
  background-color:#322549 ;
 }
 
 .Announcements h2 {
color: white;
display: flex;
justify-content: center;
 }
 .card {
  display: flex;
  background-color: white;
  padding: 10px;
  width: fit-content;
 }
 .Announcements-grid {
  display: grid;
  grid-template-columns: 250px 250px;
    grid-template-rows: 150px 150px;
    grid-gap:10px;
    padding: 10px;
    justify-content: center;
 }
 .job-card {
  border-radius:12px;
  background-color: white;
  width: fit-content;
  max-width: 230px;
  height: 230px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
  text-align: left;
  border-top-color:#cc3333;
  border-top-width:5px ;
  border-top-style: solid;
 }
 .job-card-wrapper {
  padding:15px;
 }
 .job-card  ul {
padding-left: 0; 
 }
 .job-card  li {
list-style: none;   
}
 .job-card  a {
text-decoration: none;
 }
 .job-list {
  padding-inline:15px;
 }
 .view-more-link {
  border-top:1px solid #ccc;
  
 }